/* Estilo base para todos os dispositivos */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
  }
 
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* border: 2px solid red;  */
}

/*CABEÇALHO*/
.header {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 10%;
    /* border-bottom: 2px solid red; */
    background-color: rgb(127, 202, 228); /* Cor inicial para a header */
}

.logo img{
    display: block;        /* Garante o alinhamento correto */
    width: 15%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Sombra sutil */
    margin: 10px;          /* Espaçamento ao redor da imagem */
}

.navbar {
    display: flex;               /* Exibe os links em linha */
    justify-content: center;     /* Centraliza os links */
    gap: 20px;                   /* Espaçamento entre os links */
    background-color: #888585;      /* Cor de fundo do navbar */
    padding: 10px 0;             /* Espaçamento interno vertical */
}

.navbar a {
    text-decoration: none;  /*Remover sublinhado dos links*/
    color: black;
    font-size: 15px;
    padding: 5px 10px;           /*Espaçamento interno dos links*/
    border-radius: 5px;
}

.navbar a:hover {
    background-color: #555;      /* Cor de fundo ao passar o mouse */
    color: #ddd;                 /* Cor do texto ao passar o mouse */
    transform: scale(1.1); /* Quando o mouse passar sobre aumenta 10% de tamanho */
}


/*CONTEUDO*/
/* .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
} */
.main-content {
    padding: 0px; /* Adicionar espaçamento interno ao redor do conteúdo */
    margin: 10px 0; /* Adiciona espaçamento externona parte superior e inferior */
    text-align: center; /* Centraliza o texto dentro da seção */
  }

.main-content h2 {
    font-size: 40px; /* Define o tamanho da fonte do título como 2.5 vezes o tamanho padrão */
    color: #333; /* Define a cor do texto como um cinza escuro */
    margin-bottom: 10px; /* Adiciona espaçamento abaixo do título */
}

.main-content p {
    font-size: 20px; /* Define o tamanho da fonte do parágrafo */
    color: #333; /* Define a cor do texto como um cinza claro */
    font-weight: bold;  /*Deixa o texto em negrito*/
    line-height: 1.6; /* Define o espaçamento entre as linhas do texto para melhorar a legibilidade */
    margin-bottom: 10px; /*Adiciona espaçamento abaixo do parágrafo*/
}

/*IMAGENS*/
.cards{
    display: flex;  /*utiliza Flexbox para organizar os itens na horizontal*/
    /* flex-grow: 0; */
    /* flex-shrink: 0; */
    flex-basis: 300px;
    padding: 30px;
    /* margin: 30px; */
    /* width: 100%; */
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    background-color: rgb(247, 208, 208);
    text-align: center;
    font-size: 20px;
    font-weight: bold
}
.cards-images {
    display: flex; /* Utiliza Flexbox para organizar os itens na horizontal */
    justify-content: space-evenly; /*Centraliza os itens com espaçamentos iguais entre itens e laterais*/
    align-items: start;
    padding: 50px 0px;
    flex-wrap: wrap; /*Permite que as imagens se movam para a linha seguinte em telas menores*/
    background-color: salmon;
    margin-bottom: 100px;
}
#desktops {
    /* flex: 100px 100px; */
    padding: 20px;
    border-radius: 10px;
    background-color: #FF7D55;
    transition: transform 0.3s ease; /* Cria uma transição suave para o efeito de hover */
}

#smartphones {
    flex: 100px 100px;              /* Largura fixa de 300px para cada item */
    padding: 20px;
    border-radius: 10px;
    background-color: #FF9E7F;
    transition: transform 0.3s ease; /* Cria uma transição suave para o efeito de hover */
}

#tablets {
    flex: 100px 100px;              /* Largura fixa de 300px para cada item */
    padding: 20px;
    border-radius: 10px;
    background-color: #59CFCC;
    transition: transform 0.3s ease; /* Cria uma transição suave para o efeito de hover */
}

#desktops:hover,
#smartphones:hover,
#tablets:hover {
    transform: scale(1.1);
}

.cards img{
    width: auto; /* Mantem a proporcao das imagens */
    height: 150px; /* alinhar, devido a imagens terem proporcoes diferentes */
}


/*RODAPÉ*/
.footer {
    background-color: rgb(127, 202, 228); /* Cor de fundo */
    color: white; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    padding: 20px 0; /* Espaçamento interno em cima e embaixo */
    font-size: 14px; /* Tamanho da fonte */
    position: relative;
    bottom: 0; /* Fixa o rodapé na parte inferior */
    width: 100%; /* Ocupa toda a largura */
}